body{background-color: lightblue;}

.pagescroll ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #A0522D;
}

.pagescroll li { float: left; }
.pagescroll li a:hover { background-color: #F5DEB3; }

.pagescroll li a {
    display: block;
    color: #FF8C00	;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.desc {
  width: 800px;
  height: 180px;
  padding: 15px;
  background-color: yellow;
  box-shadow: 10px 10px 5px grey;
}

.desc a{color: #FF8C00; font-size: 20px;}
.desc1 a{color: #FF8C00; font-size: 20px;}

.desc1{
  width: 800px;
  height: 150px;
  padding: 15px;
  background-color: lightblue;
  box-shadow: 10px 10px 5px grey;
}

* {box-sizing: border-box}

.main {max-width: 1000px;margin: auto;}
.row {margin: 10px -16px;}
.row,
  .row > .column {padding: 8px;}
.column {float:left;width: 33.33%;display: none;}
.row:after {content: "";display: table;clear: both;}
.content {background-color: white;padding: 10px;}
.show {display: block;}
.btn {
    font-family:fantasy;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
.btn:hover {background-color: #ddd;}
.btn.active {background-color: #666;color: white;}

.mySlides {display: none}
img {vertical-align: middle;}
h2{
  background-color:white;
  color:lightcoral;
  text-align: center;
  font-size: 30px;
  padding: 8px 12px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text2{
  background-color:black;
  color:white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.text {
  background-color:black;
  color:white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.numbertext {
  background-color:black;
  color:white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

summary{
  font-family: verdana;
  font-size: 20px;
  color: red;}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.md a{color: #cce5ff; font-size: 20px;}
.md ul {background: #3399ff;padding: 10px;}
.md ul li {background: #cce5ff;margin: 5px;}

.side a{color: #cce5ff; font-size: 20px;}
.side ul {background: #ff9999;padding: 10px;}
.side ul li {background: #ffe5e5;padding: 5px;}

.drink a{color: #cce5ff; font-size: 20px;}
.drink ul {background: #3399ff;padding: 10px;}
.drink ul li {background: #cce5ff;margin: 5px;}

.pro a{color: #cce5ff; font-size: 20px;}
.pro ul {background: #ff9999;padding: 10px;}
.pro ul li {background: #ffe5e5;padding: 5px;}


#outlets {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#outlets td, #outlets th {
  border: 1px solid #ddd;
  padding: 8px;
}
#outlets tr:nth-child(even){background-color: #FFDEAD;}
#outlets tr:hover {background-color: #F5F5DC;}
#outlets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #DEB887;
  color: white;
}

.coninfo{ background-color: #A0522D;}
.coninfo .column { float: left; width: 23.5%; padding: 5px;}
.coninfo .column a{color: #FF8C00;}
.coninfo .column img{height: 80px; width: 80px; float: left;}
.coninfo .row::after { content: ""; clear: both; display: table; }

footer{
  text-align: center;
  font-size: 20px;
  color: #8B4513;
  background-color: #DEB887;
}
